<div title="Change View" id="changeView">
  <div class="container">
    <div data-nav="prev">&#9664;</div>
    <div class="elements">
      <div class="element" data-view="data">Data</div>
      <div class="element" data-view="wf">Workflow</div>
      <div class="element" data-view="viz">Visualization</div>  
    </div>
    <div data-nav="next">&#9654;</div>
  </div>
  <div class="hint">
    <div data-view="data">
      Show the data you are working with.
    </div>
    <div data-view="wf">
      Show the lineage of your current data.
    </div>
    <div data-view="viz">
      Show the visualization of the data.
    </div>
  </div>
</div>
