<div id="export" title="Export results" data-help="https://tutorial.yavaa.org/#yavaa,export">
  <label class="input">
    <input type="radio" name="exportMime" autocomplete="off" data-part="ds" data-mime="text/tab-separated-values" />
    <span class="label">Dataset (TSV)</span>
  </label>

  <label class="input">
    <input type="radio" name="exportMime" autocomplete="off" data-part="wf" data-mime="application/json" />
    <span class="label">Workflow (PROV)</span>
  </label>
  
  <label class="input">
    <input type="radio" name="exportMime" autocomplete="off" data-part="wf" data-mime="image/svg+xml" />
    <span class="label">Workflow Graph (SVG)</span>
  </label>
  
  <label class="input">
    <input type="radio" name="exportMime" autocomplete="off" data-part="vis" data-mime="image/svg+xml" />
    <span class="label">Visualization (SVG)</span>
  </label>
</div>